<form method="post" action="/web/login" class="form-signin span4">
    <h4 class="form-signin-heading">{{Trans 'web.login.header'}}</h4>

    <input type="text" class="input-block-level" name="username" placeholder="{{Trans 'web.login.username'}}" />
    <input type="password" class="input-block-level" name="password" placeholder="{{Trans 'web.login.password'}}" />

    <input type="submit" value="{{Trans 'web.login.login'}}" class="btn btn-primary" />
</form>